
.dheker123{
    color: black;
    font-size: 50 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.dheker321{
    color:blanchedalmond;
}
.page img {
    width: 200px;
}
#adem{
    color: brown;
}
.project{
    display:flex;
    justify-content: space-around;
}
#m55{
    width:200px;
}
  
   



